# OS files
.DS_Store
Thumbs.db

# Environment files
config.local.js
# Don't ignore the template file
!config.template.js

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo

# Dependencies
node_modules/
vendor/

# Build output
dist/
build/ 